.footer {
    flex-shrink: 0;
    background-color: #343a40;
    min-height: 40px;
    color: white;
    padding: 20px;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-top-width: 5px;
    margin-top: 20px;
  }

  .copyright {
    text-align: right;

  }

  .navbar-light .navbar-text {
    color: white;
  }
  .navbar {
    text-align: center;
    display: block;
  
  }
  body{
      background-color: #282828;
      color: whitesmoke;
  }

  .jumbotron {
    background-color: lightslategray;
    }

    .graphBlock {
        margin-top: 30px;
    }
    #stockInput {
        padding-top: 6px;
        margin-top: 15px;
    }

    #buttonBlock {
        padding-top: 6px;
    }
    .btn {
      margin-top: 6px;
      background-color:#004d00;
      border-color: white;
      }
    .btn:hover{
      background-color: #343a40;
      border-color: #004d00;
    }
    .marketwatch {
      color: #343a40;
    }
    .modal-content {
      color: whitesmoke;
      background-color: #282828;
      border-color: whitesmoke;
      }
    .chartHeader {
      padding-left: 40px;
    }
   