  .footer {
    flex-shrink: 0;
    background-color: #343a40;
    min-height: 40px;
    color: white;
    padding: 20px;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-top-width: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #copyright {
    margin: 0px;
    display: flex;
    align-content: center;
    line-height:50px;
  }

  #disclaimer-btn{
    margin-left: 20px;
  }

  .navbar-light .navbar-text {
    color: white;
  }
  .navbar {
    text-align: center;
    display: block;
  
  }

  .navbar-text  {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }

  body{
      background-color: #282828;
      color: whitesmoke;
  }

  .jumbotron {
    background-color: lightslategray;
    }

    .graphBlock {
        margin-top: 30px;
    }
    #stockInput {
        padding-top: 8px;
        margin-top: 16px;
    }

    #stockSubmitBtn {
      margin-top: 7px;
      padding-bottom: 0px;
    }

    .stock-submit{
      margin: 0px 0px 0px 6px;
    }

    #buttonBlock {
        padding-top: 6px;
    }
    .btn {
      margin: 0px;
      background-color:#00A90C60;
      color: whitesmoke;
      border-color: #00A90C;
      }
    .btn:hover{
      background-color: #00A90C30;
      color: whitesmoke;
      border-color: #00A90C;
    }
    .btn:active{
      background-color: #00A90C30;
      border-color: #00A90C;
    }
    .marketwatch {
      color: #343a40;
    }
    .modal-content {
      color: whitesmoke;
      background-color: #282828;
      border-color: whitesmoke;
      }
    .chartHeader {
      padding: 0px 0px 10px 15px;
    }

    img{
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }