.footer {
    flex-shrink: 0;
    background-color: #666;
    min-height: 40px;
    color: white;
    padding: 20px;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-top-width: 5px;
  }

  .copyright {
    text-align: right;

  }

  .navbar-light .navbar-text {
    color: white;
  }
  .navbar {
    text-align: center;
    display: block;
  
  }